.cart-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart-header {
    margin: 30px 0 60px 0;
}

.cart-container {
    margin: 40px auto 0;
}

.cart-item-container {
    border-bottom: 1px solid black;
    margin-top: 20px;
}

.cart-item-img {
  margin: 0;
}

.item-details-qunaity {
    padding-bottom: 60px;
    
}

.quanity-btn {
    padding: 0 15px
}

.quanity-option{
    width: 45px;
    margin: 0 5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.delete-btn {
    transform: scale(1.5);
    color: red;
    position: relative;
    left: 40%; 
    top: 5% 
}

.finalize-container {
    margin: 20px 0 125px 0;
}

.item-price {
    position: relative;
    top: 45%;
    
}

.purchase-button {
    margin-top: 50px;
}

