
.footer {
    background-color: black;
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
  font-size: 1.3rem;
  color: grey;
  padding-top: 15px;
   
}

@media screen and (max-width: 400px) {
    .footer {
      height: 65px;
  }
  
  p, a {
    font-size: 1.3rem;
  }
   
  }