
.footer {
    background-color: black;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

p {
    color: azure;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .footer {
      height: 65px;
  }
  
  p, a {
    font-size: 1.3rem;
  }
   
  }