.header {
    margin-top: 25px;
}

.product-container:hover {
    background-color: rgb(227, 224, 224);
    /* width: 325px;
    height: 300px; */
  }


.product-container {
    background-color: rgb(246, 246, 246);
    width: 375px;
    height: 475px;
    /* border: 1px solid black; */
    margin: 50px 20px;
    vertical-align: top;
    display: inline-block;
   
}

.product-img-container {
    height: 250px;
}

img {
    border-top: 1.5px solid black;
    border-left: .5px solid black;
    border-bottom: 3px solid black;
    border-right: 5px solid black;
    box-shadow: 20px 10px 15px  rgb(156, 156, 156);
    margin-top: 30px;
    /* transition: transform .7s ease-in-out; */
    
}

/* .animation:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
} */



.addBtn, .product-price, .product-description {
    margin: 15px 0;
}

.addBtn:hover{
    background-color:rgb(0, 115, 255);
}